@tailwind base;
@tailwind components;
@tailwind utilities;

/* Modo oscuro automático según preferencia del usuario */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}

/* Estilos globales */
body {
  @apply bg-background text-text font-sans;
}

.dark body {
  @apply bg-dark-background text-dark-text;
}

/* Ejemplo de clase reutilizable */
.btn-primary {
  @apply px-4 py-2 rounded-xl text-white bg-primary hover:bg-primaryDark transition;
}

/* Estilo para la barra de navegación activa */
.active-nav {
  color: #3b82f6; /* Color primary */
  font-weight: 500;
}

/* Asegurar que el contenido no quede oculto detrás de la barra */
body {
  padding-bottom: 64px;
}
